*{
    padding: 0px 0px;
    margin: 0px 0px;
}
.nopadding{
    padding: 0px 0px;
    margin: 0px 0px;
}
.PSHeader{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: antiquewhite;
    background-color: darkblue;
    margin-top: 20px;
}

.PSGames{
    border: 1px solid grey;
    height:50vh;
}
.gameImageContainer{
    position: relative;
    height:50%;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}
.gameImage{
    position: absolute;
    height:100%;
    width: 100%;
    text-align: center;

}
.gameTitleContainer{
    height: 30%;
}
.gameName{
    height:100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.gamePrice{
    margin-top:2vh;
}
.price{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.rate{
    position: relative;
    display: flex;
    gap: 0.8vw;
    align-items: center;
    justify-content: center;
    
    
}
.rateText{
    font-size:1.5vw;
    font-weight: bold;
    
}

.checked{
    color:orange;
}

.XboxHeader{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: antiquewhite;
    background-color: darkgreen;
    margin-top: 20px;
}
.gameImageContainer {
    position: relative;

  }
.image {
    display: block;
    width: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .gameImageContainer:hover .overlay{
    bottom: 0;
    height: 100%;
  }


  .text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }